<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Iniciar Sesión</h1>
        </div>
        <form class="lg:w-1/2 md:w-2/3 mx-auto" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="flex flex-wrap m-2">
            <div class="p-2 w-full">
                <div class="relative">
                <label for="email" class="leading-7 text-sm text-gray-600">E-mail</label>
                <input type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" formControlName="email">
                <!-- CUANDO EL EMAIL NO ES VALIDO -->
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative" role="alert" *ngIf="invalidEmail()">
                        <strong class="font-bold">Error... </strong>
                        <span class="block sm:inline">Email no válido.</span>
                    </div>
                <!-- CUANDO EL EMAIL ES REQUERIDO -->
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative" role="alert" *ngIf="inputRequired('email')">
                        <strong class="font-bold">Error... </strong>
                        <span class="block sm:inline">Campo requerido.</span>
                    </div>
                </div>
            </div>
            <div class="p-2 w-full">
                <div class="relative">
                <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
                <input type="password" id="password" name="password" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" formControlName="password">

                    <!-- CUANDO EL PASSWORD NO ES VALIDO -->
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative" role="alert" *ngIf="invalidPassword()">
                        <strong class="font-bold">Error... </strong>
                        <span class="block sm:inline">Email no válido.</span>
                    </div>
                    <!-- CUANDO EL PASSWORD ES REQUERIDO -->
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-3 rounded relative" role="alert" *ngIf="inputRequired('password')">
                        <strong class="font-bold">Error... </strong>
                        <span class="block sm:inline">Campo requerido.</span>
                    </div>
                </div>
            </div>
            <div class="p-2 w-full">
                <button class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Log in</button>
            </div>
            </div>
        </form>
    </div>
  </section>